extends layout

block content
    h1= 'Reservacion en el restaurante '+ title

    form(action='/booking/'+id, method='post')
        div.form-group
            label(for='people') People
            input#people.form-control(type='text', name='people', required=true)
        div.form-group
            label(for='date') Date
            input#date.form-control(type='date', name='date', min=date, required=true)
        div.form-group
            label(for='time') Select an hour
            select#time.form-control( placeholder='Select hour', name="time", required='true' )
                each hour in hours
                    option(value=hour)= hour

        button.btn.btn-primary(type='submit') Save Booking