extends layout

block content
    each restaurant in allRestaurants
        .card
            .card-header
             h2= restaurant.name
            .card-body
                p Dirección: #{restaurant.address}
                p Email: #{restaurant.email}
                p Teléfono: #{restaurant.telephone}
                p Sitio web: #{restaurant.website}
            .card-footer
                a(href='/booking/'+restaurant.id) Reservar
                a(href='/comment/create/'+restaurant.id) Crear Comentario
